

.home-container {
  padding: 20px;
  background: black;
  color: white;
}



.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: cyan;
  text-shadow: 0 0 5px cyan;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.movie-card {
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
  width: 250px;
  transition: transform 0.3s;
  margin-bottom: 30px;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00f7ff;
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-title {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}
